# App
NODE_ENV=development
PORT=3000

# pgAdmin
PGADMIN_EMAIL=your email here
PGADMIN_PASSWORD=you password here

JWT_SECRET="your_jwt_secret_key_here"

# Okta OIDC
OKTA_ISSUER=https://your-okta-domain/oauth2/default
OKTA_AUDIENCE=your-okta-client-id-or-api-audience

# NestJS DB Config
# DB_HOST=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=adb suername here
DB_PASSWORD=a db password here
DB_NAME=db name here

